{% extends 'users/base.html' %}

{% block content %}  <!-- Make sure 'content' is the block name defined in your base.html -->
<title>Home</title>

<div class="main-content">
    <section class="home-section">
      <h1>About us</h1>
      <h2>RTM goal</h2>
      <p>This page would have recorded therapuetic activites by doctors as well</p>
      <p>This page would have recorded therapuetic activites journal done by patient activites.show when seen by doctor</p>
      <h2>RPM goal</h2>
      <p>This is where you collect data such as blood pressure, heart rate, blood sugar, blood oxygen levels, and respiratory rates</p>
      <p>Self management by patient</p>
      <p>To be monitored by data colection and doctor.</p>
      <p>To be monitored by data colection and doctor.</p>
    </section>
    <section class="about-section">
      <h2>About Us</h2>
      <p>Learn more about our team and mission. This section gives insight into who we are and what we do.</p>
    </section>
  </div>
  

{% endblock %}
